@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Roboto:wght@100;400;500&family=Ultra&display=swap&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}


body {
  margin: 0;
  height: 100%;
  width:100%;
  font-family: 'Playfair Display';
}

.c-site-header {
  height: 500px;
  width:100%;
  background-color: rgb(239, 239, 239);
  display: grid;
  grid-template-rows: 50px 600px 100 100;
}

nav {
  padding: 10px;
  position: fixed;
  text-align: end;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(239, 239, 239);
}

.hero {
  margin-top: 50px;
  width: 100%;
  align-items: center;
  background-color: none;
  background-image: url("https://drive.google.com/uc?export=view&id=1s5Gl0tSWF8_Z2qrrAuMHuFAf6TF3KSdV");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: "Playfair Display SC", serif;
  color: #55b4b0;
  font-size: 40px;
  text-align: center;
}

.slogan {
  margin-right: 130px;
  text-align: right;
}

a, h3, h2, .slogan {
  font-family: Pacifico;
}

main {
  width:100%;
  font-size: 20px;
}

.about {
  padding: 50px;
  background-color: #55b49F;  
}
.about-container {
  font-size: 20px;
 
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

figure {
  padding: 10px;
  justify-self: center;
}

.tech-container {
  font-size: 20px;
  padding: 50px;
  color: rgb(250, 245, 245);
  background-color: black;
  margin-top: -11px;
  align-items: start;
}

#history {
  margin-top: 0px;  
  padding: 50px 50px 0px;
  font-size: 32px;  
}

#history-container {
/*   margin-top: -10px; */
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: auto;
  padding: 10px;
  font-size: 20px;
}

#history2-container {
  display: flex;
}

#lessons {
  margin-top: 0px;  
  padding: 50px 50px 0px;
  font-size: 32px;  
}

.lessons-container {  
  font-size: 20px;
  padding: 50px;
  background-color: #55b4b0;
}

a {
  font-family: Pacifico;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: #55b4b0;
  padding: 15px;
}

img {
  display: block;
}

#links {
  padding-right: 500px;
}

footer {
  padding: 10px;
  width: auto;
  background-color: rgb(239, 239, 239);
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
